.firstCard{
    border-radius: 10px;
    background-color: white;
    padding: 5px 5px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-right: 10px;
}

.h1{
    font-size: 20px;
    font-weight: bold;
}