@font-face {
  font-family: 'roboto';
  src: url("/resource/Fonts/Roboto-Medium.ttf") format(TrueType);
}

.headingContainer{
  width: 59%;
  margin: 30px auto;
}
.headingContainer h1{
  font-family: "roboto";
  font-size: 2em;
  font-weight: 700;
  color: #07334A;

}
span{
  font-family: "roboto";
  font-weight: 400;
  color: #07334A;
}
.headingContainer h3{
 
  font-weight: inherit;
  font-size: 1em;
  color: #7A93A0;
}
.input{
  width: 59%;
  margin: 30px auto;
}

.richtext{
  width: 59%;
  margin: 30px auto;
}

.richtext h1 {
  width: 348px;
  height: 18px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 12.44px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0Px;
}

.footerButtons{
    justify-content: space-between;
    display: flex;
    width: 59%;
    margin:16px auto;
}
.save{
    color: white;
    background-color: #37a000;
    border: none;
    padding-inline: 30px;
    border-radius: 8px;
    height: 34px;
}
.save:hover{
  background-color: #256203;
}

.backButton{
    color: #07334A;
    border: 2px solid #07334A;
    padding-inline: 25px;
    border-radius: 8px;
}
.addExperience{
    color: #37A000;
    border: 2px solid #37A000;
    padding-inline: 18px;
    border-radius: 8px;
}