.firstCard{
    border-radius: 10px;
    background-color: white;
    padding: 5px 5px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-right: 10px;
}
.h1{
    font-size: 20px;
    font-weight: bold;
}
.btnAddHobbies{
    background-color: white;
    color: #0BD67B;
    border: 2px solid #0BD67B;
    border-radius: 10px;
}

.style_f_card {
	margin-top: 20px;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
}
.details_title{
    font-weight: bold;
    font-size: large;
}
.details_name{
    color: gray;
}
.details_value{
    font-weight: bold;
}