.lcard{
    border-radius: 10px;
    background-color: white;
    padding: 5px 5px;
    display: inline-block;
    width: 100%;
  }

  .img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  .userName{
    margin-top: 50px;
  }

  .employeeDetails{
    margin-top: 55px;
  }

  .tabContainer{
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 44px;
    position: relative;
  }
  
  .fComponentClass{
    margin-right: 5px;
  }
  .sComponentClass{
    margin-left: 5px;
  }

  
.style_f_card {
	  margin-top: 20px;
 /*margin-right: 10px;*/
    margin-left: 93px;
    background-color: white;
    border-radius: 10px;
}
.details_title{
    font-weight: bold;
    font-size: large;
}





.profile_image img {
  border-radius: 50%;
    height: 150px;
    width: 150px;
}
.profile_name_top {
  font-size: 20px;
  font-weight: bold;
  color: rgb(22, 22, 29);
  font-family: sans-serif;
}

.profile_details_left {
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(201, 201, 201);
  margin-right: 40px;
}
.profile_details_right {
  padding: 30px 0px;
}
.profile_name_bottom{
  color: rgb(37, 184, 37);
  font-family: sans-serif;
}

.profile_details_title{
    color: gray;
}
.profile_details_value{
    font-weight: bold;
}


.profile-image-container {
  position: relative;
  display: inline-block;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px; 
}
.delete-icon-container{
  position: absolute;
  bottom: 136px;
  right: 0;
  background: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  /* border: 1px solid #d8dde6; */
}
.camera-icon-container {
  position: absolute;
  bottom: 20px;
  right: 0;
  background: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #d8dde6;
}

.camera-icon-container svg {
  fill: #706e6b; 
}

.file-input {
  display: none; 
}