.dummy {
	color: black;
}

.tab-container {
	position: relative;
}

.tab {
	padding: 11px;
	cursor: pointer;
	user-select: none;
	width: 100%;
	text-align: center;
}

.tab-list {
	list-style-type: none;
	margin: 0;
	display: flex;
	border-bottom: 2px solid #ddd;
	border-radius: 10px;
	height: 43px;
	background-color: white;
}

.tab-indicator {
	position: absolute;
	bottom: 0;
	height: 4px;
	background-color: #3AD67B;
	transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}



.active-tab {
	border-bottom: 4px solid #3AD67B;
}

.birth {
	background-color: white;
	border-radius: 10px;
	margin-top: 21.5pX;
	padding: 15PX;
}

.todaybirthday {
	color: rgba(126, 144, 154, 1);
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 11PX;
}

.nextweek {
	margin-top: 10PX;
}

.anniversary {
	background-color: white;
	border-radius: 10px;
	margin-top: 21.5pX;
	padding: 15PX;
}
.todayworkanniversary {
	color: rgba(126, 144, 154, 1);
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 11PX;
}