@font-face {
  font-family: 'Poppins';
  src: url('{!$Resource.PoppinsFont}') format('ttf');
}
.boxtitle {
  font-family: 'Poppins', sans-serif;
}
.home {
  /* padding-top: 27px; */
  font-size: 22px;
}
.home-span{
color:black;
}
.home a:hover{
    text-decoration: none; /* Removes the underline on hover */
   color:#37A000; 
}
.home span:hover{
    text-decoration: none; /* Removes the underline on hover */
   color:#37A000; 
}

.container {
  max-width: 1251px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  border: 1px solid green;
    border-right: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1;
  background: white;
  top: 0;
  width: 100%;
  left: 0;
}

.navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  align-items: center;
}

.Carrer_logo {

  background-image: url('/resource/iTech_logo');
  background-size: cover;
  background-repeat: no-repeat;
  /* max-height: 500px; */
}
.LatterCon {

  background-image: url('/resource/LatterConfirmation');
  background-size: cover;
  background-repeat: no-repeat;
  /* max-height: 500px; */
  width: 330px;
}
.latter{
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.LatterHeader{
	font-size: 40px;
	text-align: center;
	color:#194051;
	font-weight: 500;
	/* font-family: sans-serif; */
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
}
.ConfirmationYes {

  background-image: url('/resource/Confirmation_Yes');
  background-size: cover;
  background-repeat: no-repeat;
  /* max-height: 500px; */
  width: 330px;
}
.ConYes{
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.ConfirmationNo {

  background-image: url('/resource/Confirmation_No');
  background-size: cover;
  background-repeat: no-repeat;
  /* max-height: 500px; */
  width: 330px;
}
.ConNo{
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.offerAccepted{
  font-size: 50px;
  color: green;
  text-align: center; 
  padding-bottom: 20px;
}
.SecondLatterHeader{
  font-size: 40px;
	text-align: center;
	color:#194051;
	font-weight: 500;
	font-family: sans-serif;
  margin-top: 29px;
}
.Btn{
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 60px;
}
.Acceptbtn {
  padding: 11px 10px;
  background-color: #00A129;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 57px;
  width: 150px;
  /* padding-left: 40px;
  padding-right: 40px; */
  font-size: 18px;
  margin-right: 31px;
}
.Rejectbtn{
  padding: 11px 10px;
  background-color: #D91F11;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 57px;
  width: 150px;
  /* padding-left: 40px;
  padding-right: 40px; */
  font-size: 18px;
}
.top-space{
  margin-top: 55px;
}
.footer_top_menu_border {
  padding: 100px 0px 90px 0px;
}
.footer_top_menu {
  padding-top: 40px;
  border-top: 1px solid white;
}

.footer_top_menu_heading {
  margin-bottom: 25px;
}
.content_ul {
  padding-right: 20px;
}
.reach_us ul li:not(:last-child),
.useful_links ul li:not(:last-child),
.our_services ul li:not(:last-child) {
  margin-bottom: 25px;
}
.footer_top_menu ul li lightning-icon {
  margin-right: 20px;
}
.social_image ul {
  display: flex;
}

.social_image ul:not(:last-child) {
  padding-right: 30px;
}

.social_image img {
  width: 45px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 19px;
  height: 80%;
  align-items: center;
}

.footer-subcontainer {
  margin: auto;
  width: 80%;
  padding-top: 20px;
  font-weight: 400;
  font-size: 19px;
  height: 67%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid white;
  color: white;
}

.footer-background {
  background-image: url('/resource/Carrer_footer');
  background-size: cover;
}

.footer-outer {
  line-height: 30px;
  font-size: 16px;
}

.footer-subcontainer1 {
  width: 35%;
  line-height: 51px;
}

.footer-subcontainer2 {
  width: 15%;
  line-height: 51px;
}

.footer-subcontainer3 {
  width: 30%;
  line-height: 51px;
}

.footer-subcontainer4 {
  width: 20%;
  line-height: 51px;
}

.icon {
  margin-left: 10px;
}

/* .footer-title-size {
  font-size: 22px;
  margin-left: 40px;
} */

.footer_bottom {
  color: white;
  border-color: white;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #001B27;
  padding: 30px 0px;
  text-align: center;
      font-family: montserrat;
}
.slds-modal__container{
	justify-content: space-between;
  /* margin-bottom: 20px; */
  align-items: center;
}
.Cancelbtn {
  padding: 11px 10px;
  background-color: #DCDCDD;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  margin-right: 25px;
}
.Confirmbtn {
  padding: 11px 10px;
  background-color: #00A129;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  margin-right: 25px;
}
.popup_Content{
  /* width: 585px; 
  border-radius: 17px; 
  color:#194051; 
  margin: 95px; */

  width: 1024.32px;
  height: 240px;
  border-radius: 17px;
  color: #194051;
  text-align: center;
}
.footer-title-size-Reachus{
  font-size: 22px;
  margin-left: 40px;
}
.footer-title-size-Ourservice{
  font-size: 22px;
  margin-left: 40px;
}
.footer-title-size-Socialnetwork{
  font-size: 22px;
  margin-left: 4px;
}
.Headermsg{
  font-size: 40px;
  /* padding-top: 25px; */
  padding-bottom: 15px;
}
.Modalmsg{
  font-size: 28px;
  padding-bottom: 30px;
}
.Closebtn{
  margin-left: 950px;
}
.Reachus_Phone{
  color:white; 
  font-size: 15px;
}
.Reachus_Email{
  color:white; 
  font-size: 15px;
}
.Reachus_Add{
  font-size: 15px;
}
.Ourservice_First{
  margin-bottom: 13px; 
  margin-left: 40px;
}
.Ourservice_Second{
  margin-bottom: 13px; 
  margin-left: 40px;
}
.Ourservice_Third{
  margin-bottom: 13px; 
  margin-left: 40px;
}
.Ourservice_Four{
  margin-left: 40px;
}
.Ourservice_First1{
  margin-bottom: 13px;
  margin-left: 23px;
}
.Ourservice_Second1{
  margin-bottom: 13px; 
  margin-left: 23px;
}
.Ourservice_Third1{
  margin-bottom: 13px; 
  margin-left: 23px;
}
.Ourservice_Four1{
  margin-left: 23px;
}

@media (max-width:1199.98px){

  .popup_Content{
    width: 815.32px;
  }

  .Closebtn{
    margin-left: 739px;
  }
  .footer-title-size-Reachus{
    margin-left: 6px;
  }
  .footer_top_menu{
    margin-right: 5px;
  }
  .Reachus_Phone{
    font-size: 13px;
  }
  .Reachus_Email{
    font-size: 13px;
  }
  .Reachus_Add{
    font-size: 13px;
  }
  .Ourservice{
    font-size: 13px;
  }
  .content_ul{
    padding-right: 0px;
  }
}
@media (max-width:991.98px) {
  .container {
    max-width: 650px;
  }

  .Closebtn{
    margin-left: 614px;
  }

  .popup_Content{
    width: 669.32px;
  }

  .headermsg{
    font-size: 36px;
  }

  .Modalmsg{
    font-size: 25px;
  }

  .footer_top_menu_border {
    padding: 30px 0px 70px 0px;
  }

  .useful_links {
    padding-left: 25px;
    margin-bottom: 40px;
  }

  .social_image {
    padding-left: 25px;
  }

  .footer_top_menu_border {
    padding: 0px !important;
  }

  .footer_top_menu {
    border: 0px !important;
    padding-top: 30px !important;
  }

  .footer_bottom {
    padding: 17px 0px;
    font-size: 14px;
  }

  .reach_us ul li:not(:last-child),
  .useful_links ul li:not(:last-child),
  .our_services ul li:not(:last-child) {
    margin-bottom: 10px !important;
  }

  .our_services {
    margin-bottom: 80px;
  }

  .top-space{
    margin-top: 0px;
  }
}

@media (max-width:767.98px) {

  .LatterCon{
    width: 290px;
  }

  .LatterHeader{
    margin-top: 38px;
  }

  .reach_us,
  .our_services,
  .useful_links {
    margin-bottom: 40px;
  }

  .useful_links,
  .social_image {
    padding-left: 0px !important;
  }

  .footer-title-size {
    font-size: 20px !important;
  }

  .footer-outer {
    line-height: 20px !important;
    font-size: 14px !important;
  }

  .footer_top_menu ul li lightning-icon svg {
    width: 20px !important;
  }

  .footer_top_menu ul li lightning-icon {
    margin-right: 15px !important;
  }

  .social_image {
    margin-bottom: 80px;
  }
  .footer-title-size-Ourservice{
    margin-left: 0px;
  }
  .Ourservice_First{
    margin-left: 0px;
  }
  .Ourservice_Second{
    margin-left: 0px;
  }
  .Ourservice_Third{
    margin-left: 0px;
  }
  .Ourservice_Four{
    margin-left: 0px;
  }
  .Ourservice_First1{
    margin-left: 0px;
  }
  .Ourservice_Second1{
    margin-left: 0px;
  }
  .Ourservice_Third1{
    margin-left: 0px;
  }
  .Ourservice_Four1{
    margin-left: 0px;
  }
}

@media (max-width:574.98px) {

  .LatterCon{
    width: 230px;
  }

  .Closebtn{
    margin-left: 263px;
  }

  .popup_Content{
    width: 333.32px;     
    height: 226px;
  }

  .Headermsg{
    font-size: 21px;
  }

  .Modalmsg{
    font-size: 17px;
  }

  .LatterHeader{
    font-size: 34px;
  }

  .Btn{
    padding-top: 27px;
    padding-bottom: 40px;
  }

  .Cancelbtn {
  padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    margin-right: 32px;
}
.Confirmbtn {
  padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    margin-right: 4px;
}

}

@media (max-width:489.98px) {

  .LatterCon{
    width: 215px;
  }
  
  .Closebtn{
    margin-left: 175px;
  }

  .popup_Content{
    width: 248px;  
    height: 206px;
  }

  .Headermsg{
    font-size: 15px;
  }

  .Modalmsg{
    font-size: 11px;
  }

  .LatterHeader{
    font-size: 25px;
  }

  /* .Btn{
    padding-top: 34px;
  } */
  .Acceptbtn{
    height: 45px;
    width: 105px;
    font-size: 15px;
    margin-right: 18px;
  }

  .Rejectbtn{
    height: 45px;
    width: 105px;
    font-size: 15px;
  }

  .Cancelbtn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    margin-right: 0px;
}
  .Confirmbtn {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 15px;
      margin-right: 0px;
      margin-left: 17px;
  }

  .SecondLatterHeader{
    font-size: 25px;
  }
  .offerAccepted{
    font-size: 42px;
  }
  .ConfirmationYes{
    width: 225px;
  }
  .ConfirmationNo{
    width: 250px;
  }
}